pandas
numpy
tqdm
matplotlib
mplfinance
pymysql
psycopg2-binary
duckdb>=1.5.2,<1.6
requests
tushare
akshare
pytdx
mootdx
fastapi
uvicorn[standard]
pydantic
pytz
starlette
pystray
Pillow
pytest
zhipuai
